<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjc.app.security.mapper.UserMapper">
	<!-- 조회 -->
	<select id="getUserInfo" resultType="UserVO">
	
		select  login_id
		        ,password
		        ,role_name
		        ,user_name
		        ,d.dept_code dept_code
		        ,dept_name
		from    user_role ur
		join    sjc_user  u
		on      ur.user_id = u.user_id
		join    sjc_role  r
		on      ur.role_id = r.role_id
		join	department d
		on		d.dept_code = u.dept_code
		where   login_id = #{username}
	
	</select>

</mapper>

	