<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content"><head>
<meta charset="UTF-8">
<title>boardList</title>
</head>
<body>
	<div class="text-center ">
		<h3>게시글 목록</h3>
		<table class="table table-striped" >
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th><!-- yyyy년MM월dd일 -->
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info : ${boards}">
					<tr>
						<td>[[${info.bno}]]</td>
						<td>[[${info.title}]]</td>
						<td>[[${info.writer}]]</td>
						<td>[[${#dates.format(info.regdate, "yyyy년 MM월 dd일")}]]</td>
					</tr>
				</th:block>				
			</tbody>
		</table>
	</div>
</body>

<script>
	// 제이쿼리 객체 생성 // 제이쿼리 필드 접근 X
	$('tbody tr').on('click',function(event){
		let trTag = event.currentTarget; // 이벤트 버블링으로 전달 받은 대상
		let bno = $(trTag).children().first().text();
		//let url = '/boardInfo?bno=' + bno;
		let url = `/boardInfo?bno=${bno}`;
		location.href=url;
	})
</script>

</html>