<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content"><head>
<meta charset="UTF-8">
<title>boardList</title>
</head>
<body>
	<div class="text-center container">
		<h3>게시글 정보</h3>
		<table class="table table-striped">
			<tr>
				<th>번호</th>
				<td>[[${board.bno}]]</td>
			</tr>
			<tr>
				<th>제목</th>
				<td>[[${board.title}]]</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>[[${board.writer}]]</td>
			</tr>
			<tr>
				<th>내용</th>
				<td>[[${board.contents}]]</td>
			</tr>
			<!--/*
			<tr>
				<th>첨부파일</th>
				<td>[[${board.image}]]</td>
			</tr>
			*/-->
			<tr>
				<th>첨부파일</th>
				<!--/*
				<td><img th:src="@{'/images/' + ${board.image}}" width="100px"></td>
				*/-->
				<td><img th:src="@{/images/{file}(file=${board.image})}" width="100px"></td>
			</tr>
			<tr>
				<th>작성일</th>
				<td>[[${#dates.format(board.regdate, "yyyy년 MM월 dd일")}]]</td>
			</tr>
		</table>
		<button type="button" th:onclick="|location.href='@{boardUpdate(bno=${board.bno})}'|">수정</button>
		<button type="button" th:onclick="|location.href='@{boardList}'|">목록</button>
		<button type="button" th:onclick="|location.href='@{boardDelete(bno=${board.bno})}'|">삭제</button>
	</div>
</body>


</html>