<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="defaultSidebar">
	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="/main">
				<img th:src="@{/assets/vendors/images/deskapp-logo.svg}" alt="" class="dark-logo">
				<img th:src="@{/assets/vendors/images/deskapp-logo-white.svg}" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-house-1"></span><span class="mtext">영업</span>
						</a>
						<ul class="submenu">
							<li><a href="">영업1</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-edit2"></span><span class="mtext">생산</span>
						</a>
						<ul class="submenu">
							<li><a href="">생산1</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-library"></span><span class="mtext">자재</span>
						</a>
						<ul class="submenu">
							<li><a href="">자재1</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-library"></span><span class="mtext">품질</span>
						</a>
						<ul class="submenu">
							<li><a href="">품질1</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-apartment"></span><span class="mtext">설비</span>
						</a>
						<ul class="submenu">
							<li><a href="">설비1</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-edit-2"></span><span class="mtext">기준정보</span>
						</a>
						<ul class="submenu">
							<li><a href="">부서관리</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</th:block>
</html>