<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:insert="~{common/configs/default_config :: css}"></th:block>
</head>
<body>

	<!-- header 영역 -->
	<div th:replace="~{common/fragments/default_header :: defaultHeader}"></div>

	<!-- sidebar 영역 -->
	<div th:replace="~{common/fragments/default_sidebar :: defaultSidebar}"></div>

	<!-- content 영역 -->
	<div class="content" layout:fragment="Content"></div>

	<!-- footer 영역 -->
	<!--  
	<div th:replace="~{common/fragments/default_footer :: defaultFooter}"></div>
	-->

	<th:block th:insert="~{common/configs/default_config :: js}"></th:block>

</body>
</html>